---
import { getCollection } from 'astro:content';
import Footer from '@/components/base/Footer.astro';
import { siteConfig } from '@/config';
import { glslCategoryList, webglCategoryList} from '@/data/category';
import Layout from '@/layouts/Layout.astro';

const { siteBase } = siteConfig;

const webglCollections = await getCollection('webgl');
const glslCollections = await getCollection('glsl');
---

<Layout>
  <div class="container">
    <section>
      <h2>WebGL</h2>
      {webglCategoryList.map((category) => {
        const filterPages = webglCollections.filter((page) => page.data.category === category.name);
        const sortPages = filterPages.sort((a, b) => a.data.order - b.data.order);
        return (
          <h3>{category.name}</h3>
          <ul class="post-list">
            {sortPages.map((page) => (
              <li><a href={`/${siteBase}/webgl/${page.slug}`}>{page.data.title}</a></li>
            ))}
          </ul>
        )
      })}
    </section>

    <section>
      <h2>GLSL</h2>
      <div class="flex">
        {glslCategoryList.map((category) => {
          const filterPages = glslCollections.filter((page) => page.data.category === category.name);
          const sortPages = filterPages.sort((a, b) => a.data.order - b.data.order);
          return (
            <div>
              <h3>{category.name}</h3>
              <ul class="post-list">
                {sortPages.map((page) => (
                  <li><a href={`/${siteBase}/glsl/${page.slug}`}>{page.data.title}</a></li>
                ))}
              </ul>
            </div>
          )
        })}
      </div>

    </section>

  </div>
  <Footer />
</Layout>

<style lang="scss">
  .container {
    margin: 1.5rem 1rem 2rem;

    section {
      & + section {
        margin-top: 2rem;
      }
    }
  }

  h2 {
    font-family: 'Tomorrow', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    letter-spacing: -0.02em;
  }

  h3 {
    font-weight: 500;
    font-size: 1.2rem;
    margin-top: 1rem;
  }

  .flex {
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;
  }

  .post-list {
    list-style: inherit;
    padding-left: 2rem;
    margin-top: 0.35rem;
    > * + * {
      margin-top: 0.25rem;
    }
    li {
      list-style: inherit;
    }
  }
</style>