---
import { getCollection } from 'astro:content';
import Footer from '@/components/base/Footer.astro';
import { glslCategoryList, webglCategoryList} from '@/data/category';
import Layout from '@/layouts/Layout.astro';

const webglCollections = await getCollection('webgl');
const glslCollections = await getCollection('glsl');
---

<Layout>
  <div class="container">
    <section>
      <h2>WebGL</h2>
      {webglCategoryList.map((category) => {
        const filterPages = webglCollections.filter((page) => page.data.category === category.name);
        return (
          <h3>{category.name}</h3>
          <ul class="post-list">
            {filterPages.map((page) => (
              <li><a href={`/webgl/${page.slug}`}>{page.data.title}</a></li>
            ))}
          </ul>
        )
      })}
    </section>

    <section>
      <h2>GLSL</h2>
      {glslCategoryList.map((category) => {
        const filterPages = glslCollections.filter((page) => page.data.category === category.name);
        return (
          <h3>{category.name}</h3>
          <ul class="post-list">
            {filterPages.map((page) => (
              <li><a href={`/glsl/${page.slug}`}>{page.data.title}</a></li>
            ))}
          </ul>
        )
      })}
    </section>

  </div>
  <Footer />
</Layout>

<style lang="scss">
  .container {
    margin: 1.5rem 1rem 2rem;

    section {
      & + section {
        margin-top: 2rem;
      }
    }
  }

  h2 {
    font-weight: 700;
  }

  h3 {
    font-weight: 500;
    margin-top: 0.5rem;
  }

  .post-list {
    list-style: inherit;
    padding-left: 1.5rem;
    margin-top: 0.25rem;
    li {
      list-style: inherit;
    }
  }
</style>